img {
    border-radius: 8px;
    width: 150px
}

nav {
    position: center
}

.header {
    position: center;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
  }
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: green;
    color: lightgreen;
    text-align: center;
  }